Client/DGPDrive/Web References/DGPSOAPSvc/DGPSOAPSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://DGPDrive.net/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://DGPDrive.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://DGPDrive.net/">
      <s:element name="GetPubKey">
        <s:complexType />
      </s:element>
      <s:element name="GetPubKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPubKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SvcCntrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encSymmKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReqMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SvcCntrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SvcCntrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OneWayCntrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encSymmKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReqMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPubKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetPubKey" />
  </wsdl:message>
  <wsdl:message name="GetPubKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetPubKeyResponse" />
  </wsdl:message>
  <wsdl:message name="SvcCntrlSoapIn">
    <wsdl:part name="parameters" element="tns:SvcCntrl" />
  </wsdl:message>
  <wsdl:message name="SvcCntrlSoapOut">
    <wsdl:part name="parameters" element="tns:SvcCntrlResponse" />
  </wsdl:message>
  <wsdl:message name="OneWayCntrlSoapIn">
    <wsdl:part name="parameters" element="tns:OneWayCntrl" />
  </wsdl:message>
  <wsdl:portType name="DGPSOAPSvcSoap">
    <wsdl:operation name="GetPubKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the RSA public key for the web service.</wsdl:documentation>
      <wsdl:input message="tns:GetPubKeySoapIn" />
      <wsdl:output message="tns:GetPubKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SvcCntrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A SOAP web service synchronous front controller, with optional message encryption.</wsdl:documentation>
      <wsdl:input message="tns:SvcCntrlSoapIn" />
      <wsdl:output message="tns:SvcCntrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OneWayCntrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SOAP one-way front controller to start the execution of AutoWork fire-and-forget process methods, with optional encryption.</wsdl:documentation>
      <wsdl:input message="tns:OneWayCntrlSoapIn" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DGPSOAPSvcSoap" type="tns:DGPSOAPSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPubKey">
      <soap:operation soapAction="http://DGPDrive.net/GetPubKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SvcCntrl">
      <soap:operation soapAction="http://DGPDrive.net/SvcCntrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OneWayCntrl">
      <soap:operation soapAction="http://DGPDrive.net/OneWayCntrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DGPSOAPSvcSoap12" type="tns:DGPSOAPSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPubKey">
      <soap12:operation soapAction="http://DGPDrive.net/GetPubKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SvcCntrl">
      <soap12:operation soapAction="http://DGPDrive.net/SvcCntrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OneWayCntrl">
      <soap12:operation soapAction="http://DGPDrive.net/OneWayCntrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DGPSOAPSvc">
    <wsdl:port name="DGPSOAPSvcSoap" binding="tns:DGPSOAPSvcSoap">
      <soap:address location="http://localhost/DGPWebSvc/DGPSOAPSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="DGPSOAPSvcSoap12" binding="tns:DGPSOAPSvcSoap12">
      <soap12:address location="http://localhost/DGPWebSvc/DGPSOAPSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>